<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">

    <!--Font import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
</head>

<body>
    {{>header}}
    <h2>Students (IDG 7878)</h2>
    <div class="students">
        {{#each docs}}
        <div class="studentContainer">
            <h3>{{this.firstname}} {{this.lastname}}
                <div class="studentBtns">
                    <a href="/{{_id}}">Edit</a>
                    <a href="/deleteStudent/{{_id}}">Delete</a>
                </div>
            </h3>
            <ul>
                <li><b>Student ID Code:</b> {{this.studentId}}</li>
                <li><b>Age: </b> {{this.age}}</li>
                <li><b>Nationality: </b> {{this.nationality}}</li>
                <li><b>Degree: </b> {{this.degree}}</li>

            </ul>
        </div>
        {{/each}}
    </div>
    {{>footer}}
</body>

</html>